* {
	padding: 0%;
	margin: 0;
	height: auto;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Lato", sans-serif;
}

/* html{
    font-family: "Lato", "Arial", sans-serif;
} */

/* body {
	background: #0F2027; 
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
} */

body {
	background: #2b5876;
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
	background: linear-gradient(to right, #4e4376, #2b5876);
	height: 100vh
}

.header{
	position: relative;
	
}

.container2 {
	border: 2px solid;
	width: 80%;
	margin: auto;
	box-shadow: 20px 20px 10px 5px rgba(0, 0, 0, 0.3);
	border-radius: 1%;
	box-sizing: border-box;
}

.container-nav {
	width: 90%;
	margin: auto;
}

.main-nav {
	/* margin-top: 35px; */
	text-align: right;
}

.main-nav li {
	display: inline-block;
	padding: 20px;
}

.info {
	/* position: absolute; */
	width: 100%;
	margin: auto;
	padding: 40px;
}

.btn2 {
	width: 80px;
	text-align: center;
	border: 1px;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
	background-color: #4e4376;
	margin-top: 20px;
}
.btn:hover {
	color: #4e4376;
	background-color: #fff;
	transition: all 1s;
}

.social-links {
	margin-top: 20px;
	text-align: center;
}
.social-links li {
	display: inline-block;
	margin-top: 6%;
	padding-left: 22px;
	padding-bottom: 10px
}

.banner-img {
	background: linear-gradient(to right,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);

	background-size: cover;
	background-position: center;
	height: 100%;
	/* background-attachment: fixed; */
}

.msg {
	padding-top: 9%;
	/* color: #fff; */
	text-align: center;
}

.heading{
	color: #fff;
    text-transform: uppercase;
}
.heading1{
	display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 20px
}

.heading2{
	display: block;
    font-size: 20px;
    font-weight: 700;
	letter-spacing: 17.4px;
	padding: 10px

}


a:link,
a:visited {
	/* color: #c5742f; */
	color: rgb(208, 230, 227);
	text-align: center;
	text-decoration: none;
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s;
	font-size: 18px;
}

a:hover,
a:active {
	/* color: #fff; */
	color: rgba(241, 88, 28, 0.801);
	/* border-bottom: 1px; */
}

.social-links a:link,
.social-links a:visited {
	/* color: #c5742f; */
	color: rgb(208, 230, 227);
	text-align: center;
	text-decoration: none;
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s;
	font-size: 28px;
}

.social-links a:hover,
.social-links a:active {
	/* color: #fff; */
	color: rgba(241, 88, 28, 0.801);
	/* border-bottom: 1px; */
}

.arrow{
	position: absolute;
	top: 98%;
	right:80px;
	color: #fff
}
.arrow-down{
	/* color: red; */
	/* font-size: 36px; */
	height: 35px;
}
.arrow a{
	color: red;
	font-size: 36px;
	/* height: 35px; */
}
